<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List the commonly used libraries used by Data Scientists
- Define arithmetic expressions

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. SckitLearn

| Data Science Tools |
| ------------------ |
| Kubernetes |
| MySQL |
| MongoDB |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
minutes_in_hrs = 200 / 60

## Author 
Emirhan Ãœlgen